# Python 虚拟环境
.venv/
venv/

# Python 编译文件
*.pyc
*.pyo
*.pyd
__pycache__/

# 数据库文件
*.db
*.sqlite3
site.db

# 环境变量文件
.env
*.env

# 日志文件
*.log
logs/

# IDE 配置文件
.vscode/
.idea/
*.swp
*.bak

# Mac 系统文件
.DS_Store

# 项目依赖文件（可选）
Pipfile
Pipfile.lock

# Jupyter Notebook 检查点（如使用）
.ipynb_checkpoints/
