<!DOCTYPE html>
<html lang="en">
<head>
    <!-- 在 <head> 中添加 -->
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <meta charset="UTF-8">
    <title>Haoran Sun's CV</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
<!-- 使用 flexbox 布局 -->
<nav class="navbar">
 <!-- add time-element -->
        <div id="time-element" class="time-element">
            <!-- usejavaScript -->
            Loading Time..
        </div>
    <a href="https://www.cardiff.ac.uk/" target="_blank">
        <img src="{{ url_for('static', filename='images/cardiffUniversity.png') }}" alt="cardiffUniversity">
    </a>
    <a href="{{ url_for('main.about') }}">About Me</a>
    <a href="{{ url_for('main.skills') }}">My Skills</a>
    {% if current_user.is_admin %}
        <a href="{{ url_for('main.management_page') }}">Edit My info</a>
    {% endif %}

    <!-- 用户信息和登出按钮移至右侧 -->
    {% if current_user.is_authenticated %}
        <div class="user-section">
            <span class="user-info">{{ current_user.username }}</span>
            <a class="logout-button" href="{{ url_for('main.logout') }}">Logout</a>
        </div>
    {% else %}
        <a href="{{ url_for('main.login') }}">Login</a>
        <a href="{{ url_for('main.register') }}">Register</a>
    {% endif %}
</nav>

<!-- 闪现消息 -->
<!-- 确保闪现消息容器存在 -->
<div id="flash-messages">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div style="color: {% if category == 'danger' %}red{% else %}green{% endif %};">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

<!-- 页面主要内容区域 -->
<main>
    {% block content %}
    <!-- 保证块内容正常渲染 -->
    {% endblock %}
</main>

    <script src="{{ url_for('static', filename='javaScript/flashMessages.js') }}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='javaScript/comments.js') }}" defer></script>
    <script src="{{ url_for('static', filename='javaScript/time.js') }}" defer></script>
</body>
</html>
